<% provide(:title, 'Blog') %>
<% provide(:row_info, 'View Our Blog') %>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2 class="title">Welcome to our blog!</h2>
      <p>
        Here, we provide with the latest information on foods, fruits and fruit juices, as well as their health benefits.
        If you have any information to add, feel free to contact us, and the information will be credited to you.
      </p>
    </div>
    <div id="post" class="col-sm-5">
      <div class="post_snip">
        <h1 class="title">Health Benefits of Cucumber</h1>
        <p class="byline"><small>Posted on December 17, 2015 by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
        <p class="text-justify">Cucumbers are good sources of phytonutrients (plant chemicals that have protective or disease preventive properties)
        such flavonoids, lignans and triterpenes, which have antioxidant, anti-inflammatory and anti-cancer benefits,
        according to World’s Healthiest Foods. The peel and seeds are the most nutrient-dense parts of the cucumber.
        They contain fiber and beta-carotene, a form of vitamin A that is good for eyes, reports Livestrong.com.
        A study published in the Pakistan Journal of Nutrition found that cucumber seeds were a good source of minerals,
        and contained calcium.</p>

        <%= image_tag 'cucumber.jpg', alt: 'Cucumber', class: 'img img-responsive img-rounded img-thumbnail' %>
        <p class="text-center"><em>Pretty slices of cucumber</em></p>

        <p class="text-justify">“Cucumbers are naturally low in calories, carbohydrates, sodium, fat and cholesterol,” said Megan Ware, a registered
        dietitian nutritionist in Orlando, Florida. There are just 16 calories in a cup of cucumber with its peel (15 without).
        You will get about 4 percent of your daily potassium, 3 percent of your daily fiber and 4 percent of your daily vitamin C.
        They also “provide small amounts of vitamin K, vitamin C, magnesium, potassium, manganese and vitamin A,” Ware said.</p>
        <p class="meta"><a href="http://www.livescience.com/51000-cucumber-nutrition.html" class="more">Read More</a> &nbsp;&nbsp; &nbsp;&raquo;&nbsp;&nbsp; <a href="http://www.livescience.com/51000-cucumber-nutrition.html" class="comments">Comments</a> (33)</p>
      </div>
      <div class="post_snip">
        <h1 class="title">Health Benefits of Carrot</h1>
        <p class="byline"><small>Posted on December 11, 2015 by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
        <p class="text-justify">Carrots may have high sugar content but it is also a very good blood sugar regulator (it’s a paradox I know).
          If you’re generally healthy without blood sugar problem, two or three medium-sized carrots daily would not
          cause any adverse effect (but diabetics should keep to just half a carrot a day). The natural sugar in carrots
          are easily assimilated. Fresh carrot juice has a glycemic index count of 80 which is at an acceptable borderline.
          Its consumption is encouraged for its rich nourishment and carotenoid content which actually helps balance blood
          sugar. However, always practice moderation in whatever you juice.</p>

        <%= image_tag 'carrot.jpg', alt: 'Carrot', class: 'img img-responsive img-rounded img-thumbnail' %>
        <p class="text-center"><em>Carrot</em></p>

        <p class="text-justify">Carrot is one of the most healing foods that provides the finest and highest quality in nutrients, especially
          from its juice. It is an excellent source of pro-vitamin A, vitamins C, D, E, K, B1 and B6.
          Carotenes, the famous ingredient in carrots, is an anti-oxidant that has powerful healing virtues for many diseases.
          Drinking a glass of carrot juice daily will do much more for you than many bottles of supplement tablets. </p>
        <p class="meta"><a href="http://juicing-for-health.com/health-benefits-of-carrot.html" class="more">Read More</a> &nbsp;&nbsp; &nbsp;&raquo;&nbsp;&nbsp; <a href="http://juicing-for-health.com/health-benefits-of-carrot.html" class="comments">Comments</a> (46)</p>
      </div>
    </div>
    <div id="sidebar" class="col-sm-3">
      <ul>
        <li>
          <h2>Recent Posts</h2>
          <ul>
            <li><a href="#">Benefits of Cucumber</a></li>
            <li><a href="#">Health Benefits of Carrot</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>