<% provide(:title, 'Blog') %>
<% provide(:row_info, 'View Our Blog') %>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2 class="title">Welcome to EHLS!</h2>
      <p>
        ESABOL dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis.
        Elet bis a dorem frshs. Fresh fruits loret dolor ipsum loret moree ales vis a ghwwrt.
        Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs. Ilisa dolor ipsum loret moree ales vis a ghwwrt.
        Ipusm dolo amia los via la girtu mes avis.
      </p>
    </div>
    <div id="post" class="col-sm-5">
      <div class="post_snip">
        <h1 class="title">Health Benefits of Cucumber</h1>
        <p class="byline"><small>Posted on January 21, 2016 by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
        Cucumber dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs. Fresh fruits loret dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs. Ilisa dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs. Bores dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs.
        <br><br>
        <p class="meta"><a href="#" class="more">Read More</a> &nbsp;&nbsp; &nbsp;&raquo;&nbsp;&nbsp; <a href="#" class="comments">Comments</a> (33)</p>
      </div>
      <div class="post_snip">
        <h1 class="title">Health Benefits of Carrot</h1>
        <p class="byline"><small>Posted on August 25, 2014 by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
        Carrot dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs. Fresh fruits loret dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs. Ilisa dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs. Bores dolor ipsum loret moree ales vis a ghwwrt. Ipusm dolo amia los via la girtu mes avis. Elet bis a dorem frshs.
        <br><br>
        <p class="meta"><a href="#" class="more">Read More</a> &nbsp;&nbsp; &nbsp;&raquo;&nbsp;&nbsp; <a href="#" class="comments">Comments</a> (46)</p>
      </div>
    </div>
    <div id="sidebar" class="col-sm-3">
      <ul>
        <li>
          <h2>Categories</h2>
          <ul>
            <li><a href="#">Aliquam liberonare</a></li>
            <li><a href="#">Consectetuer adipiscing</a></li>
            <li><a href="#">Metusin  pellentesque</a></li>
            <li><a href="#">Suspendisse  maurisres</a></li>
            <li><a href="#">Urnanet  molestie semper</a></li>
            <li><a href="#">Proin gravida  porttitor</a></li>
          </ul>
        </li>
        <li>
          <h2>Recent Posts</h2>
          <ul>
            <li><a href="#">Benefits of Cucumber</a></li>
            <li><a href="#">Health Benefits of Carrot</a></li>
            <li><a href="#">Lorem ipsum dolor amet</a></li>
            <li><a href="#">Cucumber a let ipsum dorlo</a></li>
            <li><a href="#">Urnanet  molestie semper</a></li>
            <li><a href="#">Proin gravida  porttitor</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>