<% provide(:title, 'Contact') %>
<% provide(:row_info, 'Contact Us') %>

<div class="container">
  <h2>Contact</h2>
  <div class="row" id="contact">
    <div class="col-sm-8">
      <p>
        We'd love to hear from you. Fill the form below to make a booking or ask questions.
        Your details will be kept private.
      </p>

      <form role="form" class="jumbotron" action="MAILTO:info@esabolhealthyliving.com" method="post" enctype="text/plain">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Name:<span class="required-field">*</span></label>
              <input type="text" id="name" class="form-control" placeholder="First and last name please">
              <label for="phone">Phone:</label>
              <input type="number" id="phone" class="form-control" placeholder="What is your phone number?">
              <label for="email">Email:<span class="required-field">*</span></label>
              <input type="text" id="email" class="form-control" placeholder="What is your email address?">
            </div>
          </div>
          <div class="col-sm-6">
            <label for="comments">Comment/Questions:</label>
            <textarea id="comments" placeholder="Write your message here!" class="form-control"></textarea>
          </div>
        </div>
        <button class="btn btn-default" role="button">Submit</button>
      </form>
    </div>

    <div class="col-sm-4">
      <div class="jumbotron" id="contact-details">
        <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Company Addresses</h4>
        <address>
          <strong>ESABOL Juice and Smoothie Bar</strong><br>
          Dwarf Shop 3<br>
          FUTA Community Shopping Plaza<br>
          Oba-Nla Campus, FUTA<br>
          Akure, Nigeria.
        </address>
        <address>
          <strong>ESABOL Juice and Smoothie Bar</strong><br>
          FUTA Sports Complex<br>
          Behind Hilltop Auditorium<br>
          Oba-Nla Campus, FUTA<br>
          Akure, Nigeria.
        </address>
      </div>
    </div>
  </div>
</div>