<div id="row-1" class="row">
  <div class="col-sm-3"><%= image_tag 'esabol_logo.png', alt: 'ESABOL', class: 'logo' %></div>
  <div class="col-sm-3">
    <h3>Juice Bar</h3>
    <h4>Akure, Nigeria</h4>
  </div>
  <div class="col-sm-6">
    <h3><%= yield(:row_info) %></h3>
  </div>
</div>